@import 'normalize';
$black: #151515;
$linkcolorlight: #D4AF37;

html, 
body {
    height: 100%;
}

body {
    background-color:white;
    color: $black;
    transition: all 1s;

    .t-home__link {
        color: $linkcolorlight;
        text-decoration: none;

        &:hover, 
        &:active,
        &:visited {
            color: $linkcolorlight;
            text-decoration: none;
        }
    }
    
    @media screen and (min-width: 768px) {
        background-color: $black;
        color: white;

        .t-home__link {
            color: $linkcolorlight;
            text-decoration: none;
    
            &:hover, 
            &:active,
            &:visited {
                color: $linkcolorlight;
                text-decoration: none;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        background-color:white;
        color: $black;

        .t-home__link {
            color: $linkcolorlight;
            text-decoration: none;
    
            &:hover, 
            &:active,
            &:visited {
                color: $linkcolorlight;
                text-decoration: none;
            }
        }
    }
}

.t-home {
    position: relative;
    padding: 5%;
    height: 100%;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
        align-items: center;
    } 

    &__graphics {
        position: absolute;
        overflow: hidden;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -1;

        &-svg {
            position: absolute;
            fill: transparent;
            stroke: #D4AF37;
            stroke-width: .5px;
            // transition: transform .5s ease-in;
        }
    }

    &__bio {
        max-width: 850px;
        
        &-title {
            font-size: 50px;
            margin: 20px 0;
            font-family: 'Dancing Script', cursive;
            
            @media screen and (min-width: 768px) {
                font-size: calc(50px + (100 - 50) * (100vw - 400px) / (2500 - 400));
            }        
        }
    
        &-text {
            font-size: calc(20px + (45 - 20) * (100vw - 400px) / (2500 - 400));
            font-family: 'Quicksand', sans-serif;
            line-height: 1.2;
            margin: 0 0 3% 0 ;
        }
    }
}